.desc {
  padding-top: 94px;
  padding-bottom: 94px;
}

.desc-character {
  display: flex;
  align-items: center;
}

.desc-list:not(:nth-child(4n)) {
  margin-right: 30px;
}

.subtitle {
  margin-bottom: 10px;

  @include font(14px, 700, 1.14);

  text-transform: uppercase;
  color: var(--color-title);
}

.subtitle-text {
  line-height: 1.71;
}

.desc-list-box-img {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background-color: var(--secondary-color-background);
}

.desc-list-img {
  width: 70px;
  height: 70px;
}
