.header-text {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  @include font(26px, 700, 1.19);
  color: var(--accent-color);
}

.logo-name {
  font-family: 'Raleway', sans-serif;
  @include font(26px, 700, 1.19);
  color: var(--color-logo-name);
}

.header-nav__logo {
  margin-right: 93px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-menu__list:not(:last-child) {
  margin-right: 50px;
}

.header-contact__list:not(:last-child) {
  margin-right: 50px;
}

.header-menu__item {
  padding-top: 32px;
  padding-bottom: 32px;

  @include font(14px, 500, 1.14);

  letter-spacing: 0.02em;
  color: var(--color-title);
  transition: color var(--transition-dur-funk);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-menu__item_current {
  color: var(--accent-color);

  &::after {
    position: relative;
    bottom: -32px;
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.header-contact__mail {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  @include font(14px, 500, 1.14);

  letter-spacing: 0.02em;
  color: var(--color-description);
  transition: color var(--transition-dur-funk);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contact__telefon {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  @include font(14px, 500, 1.14);

  letter-spacing: 0.02em;
  color: var(--color-description);
  transition: color var(--transition-dur-funk);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contact__envelope-img {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.header-contact__smartphone-img {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}
